<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{mm:ss.SSS} %-4level [%thread] %logger{0}: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.sourcevirtues" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
